.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  background-image: url(../public/background\ for\ react1.gif);
}

.headerBasic {
  padding: 0.5em;
  margin: 2em;
  margin-left: 13em;
  margin-right: 13em;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0.4em 0.4em lightblue;
}

p {
  font-size: 1.2rem;
}

img {
  width: 15%;
  height: auto;
}

#banana-id {
  font-size: 0.6rem;
}

.sc-dlfmHC {
  /* border: 3px solid lightgray; */
}

.sc-dlfmHC h3 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0.2em 0.2em lightblue;
}

.sc-jSguLX {
  /* color: black; */
}

footer {
  color: white;
  text-align: left;
  font-size: 1rem;
  margin-left: 0.5em;
}




.recipe-finder-container {
  max-width: 70%;
  margin: auto;
  padding: 20px;
  background-color: rgb(254, 228, 197);
}

.warning {
  color: rgb(255, 174, 0);
  font-weight: bold;
}

.loading {
  font-style: italic;
}

.recipe-item {
  margin-bottom: 20px;
  border: 1px solid #3b3b3b;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(221, 220, 220, 0.644);
}

.recipe-item h3 {
  margin-bottom: 5px;
}

/* Add more styles as needed */
